* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 126px;
}
header h1 {
    font-size: 28px;
    margin-left: 10px;
}
header nav { 
    display: flex;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}
header nav ul li {
    text-indent: 5px;
}
header nav ul li a {
    text-decoration: none;
    padding: 10px 25px;
    color: rgb(24, 24, 24);
}
header nav ul li a:hover,
.selected {
    background-color: #B92326;
    color: #fff;
    border-radius: 30px;
}
.logo-header {
    display: flex;
    align-items: center;
}
.banner {
    background-image: url('../img/home-care.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    color: #fff;
}
.banner p {
    position: relative;
    z-index: 2;
}
.banner-title {
    font-weight: bold;
    font-size: 45px;
    text-shadow: 1px 1px 10px #00000060;
}
.banner-subTitle {
    font-size: 20px;
}
.banner-container {
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}
.opacity-background {
    width: 100%;
    position: absolute;
    height: 500px;
    background-color: #B9232620;
    z-index: 1;
    /*top:176px;*/
}
.banner-buttons {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: -68px;
    z-index: 5;
    position: relative;
}
.banner-buttons .button {
    width: 340px;
    padding: 30px;
}
.banner-buttons .c1 {
    text-align: center;
    background-color: #B92326;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.banner-buttons .c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #b81114;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0px;
}
.line {
    width: 70px;
    height: 2px;
    background-color: #b81114;
}
.cards-section {
    width: 820px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 12px;
}
.card-info {
    border-radius: 6px;
    box-shadow: 1px 1px 8px #00000045;
    padding: 10px;
    width: 245px;
    margin-bottom: 12px;
}
.card-info:hover {
    transform: scale(1.02);
}
.card-info .card--name {
    text-align: center;
    font-weight: bold;
}
.card-info .card--interest,
.card-info .card--function,
.card-info .card--contact {
    color: #b81114;
    font-weight: bold;
}
.card-info .card--photo {
    margin: -10px;
    padding-bottom: 10px;
}
.card-info .card--photo img {
    width: 100%;
    border-radius: 6px 6px 100px 0;
}
.register {
    background-color: #b81114;
    color: #fff;
    padding-bottom: 30px;
    text-align: center;
}
.register p {
    padding: 15px 0px;
}
.register-title {
    font-size: 24px;
    font-weight: bold;
}
.register button {
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    color: #b81114;
}
.register button:hover {
    transform: scale(1.04);
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.about-block-1,
.about-block-2 {
    display: flex;
    align-items: center;
    padding-top: 40px;
    text-align: justify;
    gap: 10px;
}
.about-block-1 img,
.about-block-2 img  {
    width: 400px;
    border-radius: 5px;
}
.about p {
    text-indent: 50px;
    flex: 1;
    font-size: 19px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B92326;
    color: #fff;
    padding: 40px;
}

@media (max-width: 1120px) {

    .banner {
        background-size: cover;
    }

}

@media (max-width: 820px) {
    .cards-section {
        width: auto;
        justify-content: center;
        gap: 30px;
    }
    .banner-container{
        width:auto;
    }
    nav ul li {
        display: none;
    }
    .about-block-1 img,
    .about-block-2 img {
        display: none;
    } 
    .about-block-1,
    .about-block-2 {
        padding: 10px 10px 0px 10px;
    }
}

@media (max-width: 600px) {
    .banner-buttons {
        flex-direction: column;
        margin-top: 0px;
    }
    .banner-buttons .button {
        width: auto;
    }
    .banner-buttons .c1,
    .banner-buttons .c2 {
        border-radius: 0px;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
}